/*  css- Cascading Style Sheets
It is used for separate styling for pages.
NOTES:
. means class selector
* means selection of entire body/page, it is known as wild card operator. 

*/

/* *{
    border:solid
} */

body{
    background-color: lightgrey;
    margin:1px ;
}
.header{
color:peachpuff;
background-color:deeppink;
padding:20px;
text-align: center;

}
.menu{
display:flex;
justify-content:space-between;
background-color:black;
padding:15px ;
font-size:20px;
font-family:sans-serif;
font-weight:500;
color:cornsilk;
}



.grid img{
    border: 2px solid #000001;
    border-radius:50px ;
}
.origami{
    border-radius: 2opx solid black;
    background-color:aliceblue;
    padding:30px ;
    margin: 25px;
    width:320px;
    font-family: fantasy;
}
